*DS_Store*
*svn*
*.cache
*.log
stamp-h*
*.o
lsbom
*~
config.h
Makefile
Makefile.orig
Makefile_orig
*.status
*deps/*.*o
osxbom-*.*.*/*
*.tar.gz
*.zip
*(Autosaved)*
*.pbxbtree
*.pbxindex
*.pbxstrings
*.pbxsymbols
*.pbxuser
*.perspectivev3
*.dSYM
*.LinkFileList
*.dat
*.dep
*.hmap
*.build
build/*
