# Technically these are all vendored,
# but I prefer to avoid seeing their diffs:
compile linguist-generated
config.guess linguist-generated
config.sub linguist-generated
depcomp linguist-generated
install-sh linguist-generated
missing linguist-generated
